<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/02b4bc903f.js" crossorigin="anonymous"></script>

{% block head %}
<title>GyM- Master Manager</title>
{% endblock %}

<body>
    <!-- header -->
    <header>
        <div class="menu">
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>

{% block content %}


{% endblock %}

</body>
<script src="/script.js"></script>
</html>